body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
    text-align: center;
  }

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

#start-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: #2980b9;
}

#options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#options button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#options button:hover {
    background-color: #dcdde1;
    color: #333;
    border-color: #999;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}

#score {
    font-weight: bold;
    color: #27ae60;
}

#clear-time {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}